# Default ignored files
/../../1 RIV sorting alg /.idea/shelf/
/../../1 RIV sorting alg /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../1 RIV sorting alg /.idea/httpRequests/
# Datasource local storage ignored files
/../../1 RIV sorting alg /.idea/dataSources/
/../../1 RIV sorting alg /.idea/dataSources.local.xml
